:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #00a9d3;
  --background-color: #d0d0d0;
  --text-color: #333;

  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Montserrat", sans-serif;

  --font-m: 1rem;
  --font-l: 1.5rem;
  --font-xl: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--secondary-font);
  font-size: var(--font-m);
  display: flex;
  justify-content: center;
}

form {
  max-width: 18.75rem;
  background-color: white;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.25);

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h1 {
  font-size: var(--font-xl);
  margin: 0;
  color: var(--accent-color);
}

.box {
  width: 75%;
  padding: 0.5rem;
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  font-size: var(--font-m);
}

button {
  padding: 0.5rem;
  border: 1px solid var(--text-color);
  border-radius: 0.5rem;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  font-size: var(--font-m);
  cursor: pointer;
}
div {
  font-size: var(--font-xl);
}
